body {
    box-sizing: content-box;
    height: 100vh;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.display {
    background-color: rgba(0, 0, 0, 0.3);
    font-family: "Madimi One", sans-serif;
    font-size: xx-large;
    border-radius: 5px;
    padding: 10px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: end;
}

.main {
    width: 400px;
    height: 600px;
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    justify-content: center;
    flex: 1;
}

.row button {
    width: 50px;
    border: 0.1px solid grey;
    border-radius: 5px;
    font-family: "Madimi One", sans-serif;
    font-size: larger;
    flex: 1;
}

button.clear, button.delete {
    width: 75px;
}