body {
    box-sizing: content-box;
    height: 100vh;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main {
    width: 100%;
    max-width: 400px;
    height: 600px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    border: 2px solid rgba(0, 0, 0, 0.4);
    padding: 3px;
    border-radius: 5px;
}

.display {
    background-color: rgba(0, 0, 0, 0.3);
    font-family: "Madimi One", sans-serif;
    font-size: xx-large;
    border-radius: 5px;
    padding: 10px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: end;
    overflow: hidden;
}

.row {
    gap: 5px;
    display: flex;
    flex: 1;
}

.row button {
    border: 0.1px solid grey;
    border-radius: 5px;
    font-family: "Madimi One", sans-serif;
    font-size: larger;
    flex: 1;
    border: 2px solid rgba(0, 0, 0, 0.3);
    background-color: rgba(0, 0, 0, 0.1);
}

.row button:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.row button:active {
    background-color: rgba(0, 0, 0, 0.1);
}
